<!DOCTYPE html>
<html>
<head>
<title>E market for Farmer</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.w3-bar-item w3-button{ font-size: 500px; text-decoration: none;padding: 20px;}
</style>
</head>
<body>

<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Flood and Rainfall Predictions</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="{{url_for('index')}}" class="w3-bar-item w3-button">Flood Prediction</a>
      <a href="{{url_for('rainfall')}}" class="w3-bar-item w3-button">Rainfall Prediction</a>
      <a href="{{url_for('hello_world')}}" class="w3-bar-item w3-button">Logout</a>
     
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img class="w3-image" src="./static/bg5.gif" alt="Hamburger Catering" width="1400" height="100">
  

</header>


  
  

</body>
</html>
